body {
  color: #333;
}

.homepage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  .button-setting {
    width: 120px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  .title {
    color: red;
    font-size: 24px;
  }
}
.breadcrumb {
  // 增加间距和 /
  li::after {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
  }
  li:last-child::after {
    content: '';
  }
}

.lessons {
  button {
    height: 260px;
  }
}

.lesson-choose {
  display: flex;
  justify-content: space-around;
  .choose {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}


.self-center {
  position: relative;
  top: 50%;
  transform: translate(-50%);
}
